<div class="container col-md-10">
  <form
    class="card p-3 bg-light text-center mt-3 mb-3"
    href="mobile/add"
    method="post"
  >
    <h2 class="text-bg-success">Add new mobile</h2>
    <div class="form-group">
      <label class="h3 text-secondary">Name</label>
      <input type="text" name="name" class="form-control" required /></div>
    <div class="form-group">
      <label class="h3 text-secondary">Brand</label>
      <input type="text" name="brand" class="form-control" required /></div>
    <div class="form-group">
      <label class="h3 text-secondary">Price</label>
      <input type="number" name="price" class="form-control" required /></div>
    <div class="form-group">
      <label class="h3 text-secondary">Image</label>
      <input type="text" name="image" class="form-control" required /></div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary mt-3" value="Add" /></div>
  </form>
</div>