<div class="row">
  <div class="col">
    <img src="{{mobile.image}}" width="300" height="300" />
  </div>
  <div class="col">
    <h1>{{mobile.name}}</h1>
    <h3>Brand: {{mobile.brand}}</h3>
    <h3>Price: $ {{mobile.price}} </h3>
  </div>
</div>