<html>
  <head>
    <title>ExpressJS MongoDB CRUD Demo</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body>
    <nav class="h1 nav justify-content-center">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/mobile">Mobile</a>
      <a class="nav-link" href="/laptop">Laptop</a>
    </nav>
    <div class="container text-center col-md-10">
      {{{body}}}
    </div>
  </body>
</html>